<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="member-sec section_title py-5 text-center">
    <div class="container-fluid">
        <h3>Question</h3>
        <div class="row">
            <div class="col-md-10 offset-md-1" *ngIf="questionList.length > 0,else noDataFound">
                <div class="row" *ngFor="let question of questionList;index as i">
                    <h6>{{question.chapter}} : Question {{i+1}}</h6><br>
                    <div class="col-md-12">
                        <div class="member-inn blue-bg">
                            <img src="{{question.question}}" alt="question">
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noDataFound>
                <div>
                    <h4>No Data Found</h4>
                </div>
            </ng-template>
        </div>
    </div>
</section>
