<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0 pt-2 mb-3 mb-md-5">
                <div class="row m-0 p-0">
                    <div class="col-12 p-1">
                        <div class="card bg-none border-none shadow-none">
                            <div class="card-body row m-0 p-0">
                                <div class="col-12 col-md-3 p-0">
                                    <img src="{{courseDetails.course_image}}" class="card-img-top">
                                </div>
                                <div class="col-12 col-md-9 p-1 pl-md-4">
                                    <h3 class="course-title-card">{{courseDetails.course_name}}</h3>
                                    <p class="course-subtitle">{{courseDetails.course_description}}</p>
                                    <ul class="badge_info">
                                        <li class="started"><a href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
                                        <li class="medium"><a href="javascript:void(0)"><i class="ti-twitter-alt"></i></a></li>
                                        <li class="platinum"><a href="javascript:void(0)"><i class="ti-linkedin"></i></a></li>
                                        <li class="elite unlock"><a href="javascript:void(0)"><i class="ti-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <div class="card course-detail-card col-12 col-md-9 bg-light">
                <div class="card-header bg-none border-bottom-0">
                    <h4 class="edu_title">Course Circullum</h4>
                </div>
                <div class="accordion mt-0 mt-md-2" id="accordionExample">
                  <div class="card child-card">
                    <div class="card-header border-bottom-0" id="headingOne">
                      <h2 class="mb-0 accordion_title">
                        <a class="d-block position-relative d-block text-dark collapsible-link py-2 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Part 01: How To Learn Web Designing Step by Step
                        </a>
                      </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body pl-3 pr-3">
                            <ul class="lectures_lists">
                                <li *ngFor="let lecture of courseDetails.lectures">
                                    <div class="lectures_lists_title">
                                        <i class="ti-control-play"></i>{{lecture.title}}
                                    </div>
                                    {{lecture.description}}
                                </li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Accordion card -->

            <div class="col-12 col-md-3 p-0 pl-md-3">
                <div class="card course-detail-card p-0 pt-2">
                    <div class="card-header bg-none border-bottom-0">
                        <h4 class="edu_title">Course Price</h4>
                    </div>
                    <div class="card-body p-1">
                        <div class="mb-4">
                            <div class="ed_view_price pl-4">
                                <span>Acctual Price</span>
                                <h2 class="theme-cl">$ {{courseDetails.course_price}}.00</h2>
                            </div>
                            <div class="ed_view_features pl-4">
                                <span>Course Features</span>
                                <ul>
                                    <li *ngFor="let feature of courseDetails.features"><i class="ti-angle-right"></i>{{feature.feature}}</li>
                                </ul>
                            </div>
                            <div class="ed_view_link">
                                <a *ngIf="!courseDetails.isUserSubscribed, else enrolled;" href="javascript:void(0)" class="btn btn-theme enroll-btn" (click)="enrollNow(courseDetails.id)">Enroll Now<i class="ti-angle-right"></i></a>
                                <ng-template #enrolled>
                                    <a href="javascript:void(0)" [disabled]="true" class="btn btn-theme enroll-btn">Enrolled</a>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Instructor-->
            
            <div class="col-12 col-md-12 p-0 mt-4">
                <div class="card course-detail-card p-0 pt-2">
                    <div class="card-header bg-none border-bottom-0">
                        <h4 class="edu_title">Related Courses</h4>
                    </div>
                    <div class="card-body row m-0 p-1">
                        <div class="col-12 col-md-3 p-1 mb-2" *ngFor="let course of courseDetails.similarCourses">
                            <div class="card">
                                <img src="{{course.course_image}}" class="card-img-top">
                                <div class="card-body">
                                    <a (click)="getCourseDetails(course.id)" href="javascript:void(0)">
                                        <h3 class="course-title">{{course.course_name}}</h3>
                                        <p class="course-subtitle">{{course.course_description}}</p>
                                    </a>
                                    <div class="foot_lecture">{{commaSeparateTeacher(course.teacher)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Related Courses-->
        </div>
    </div>
</section><!--Courses-->