<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail h-100">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>Welcome to Dashboard</h3>
            <p>
                As we are stepping into new year an growing our team, we need to define proper leave policies so that everyone can plan their leaves properly and ahead of time.
            </p>
        </div>
    </div>
</section>