<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>Slot Booking History</h3>
            <div class="table-responsive">
                <table class="table table-sm" *ngIf="data.length > 0;else dataNotFound">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Amount</th>
                        <th>Booking Date and Time</th>
                        <th>Slot Date and Time</th>
                    </tr>
                    <tr *ngFor="let d of data">
                        <td><img src="{{d.teacher_info.image}}" alt=""></td>
                        <td>{{d.teacher_info.name}}</td>
                        <td>{{d.teacher_info.email}}</td>
                        <td>{{d.teacher_info.mobile}}</td>
                        <td>$ {{d.price/100}}</td>
                        <td>{{d.created_at}}</td>
                        <td>{{d.slot_info.date}} - {{d.slot_info.time}}</td>
                    </tr>
                </table>
            </div>
            <ng-template #dataNotFound>Oops! no data available</ng-template>
        </div>
    </div>
</section>