<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>Manage Schedule</h3>
            <!-- <form> -->
                <table class="table" style="width: 100%;">
                    <tr>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Event</td>
                        <td>Action</td>
                    </tr>
                    <tr *ngFor="let data of schedule.data;let last=last">
                        <td><input type="date" #date [(ngModel)]="data.date" class="form-control" value="{{data.date}}" onfocus="blur()"></td>
                        <td><input type="time" #time [(ngModel)]="data.time" class="form-control" value="{{data.time}}" onfocus="blur()"></td>
                        <td><input type="text" #event [(ngModel)]="data.event" class="form-control" value="{{data.event}}" maxlength="200"></td>
                        <td>
                            <a href="javascript:void(0)" class="text-success" *ngIf="last;else notLastEvent" (click)="addSchedule()">&oplus;</a>
                            <ng-template #notLastEvent>
                                <a href="javascript:void(0)" class="text-danger" (click)="removeSchedule(data)">&otimes;</a>
                            </ng-template>
                        </td>
                    </tr>
                </table>
                <p class="text-danger">{{errorMsg}}</p><p class="text-success">{{successMsg}}</p>
                <button type="button" class="btn btn-success" (click)="updateScheduledData()">Update</button>
            <!-- </form> -->
        </div>
    </div>
</section>