<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>Edit Chapter <a class="float-right" routerLink="/user/chapter">Back</a></h3>
            <form #oldChapter="ngForm" (ngSubmit)="updateChapter(oldChapter)">
                <!-- {{oldChapter.value | json}} -->
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="category">Category:</label>
                        <select name="category" #category [(ngModel)]="chapterData.categoryId" class="form-control" (change)="filterSubjectCategory(category.value)" required>
                            <option *ngFor="let cat of categoryClass.data" value="{{cat.id}}">{{cat.title}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="subcategory">Sub-Category:</label>
                        <select name="subcategory" #subcategory [(ngModel)]="chapterData.subjectCategoryId" class="form-control" required>
                            <option *ngFor="let subcat of subjectCategoryData" value="{{subcat.id}}">{{subcat.title}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="chapter">Chapter:</label>
                        <input name="chapter" #name [(ngModel)]="chapterData.chapter" type="text" placeholder="Chapter Name" class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="price">Price:</label>
                        <input name="price" #price [(ngModel)]="chapterData.price" type="text" placeholder="Price in Doller ($)" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <h5>Topics</h5>
                    <table class="table table-striped" style="width: 100%;">
                        <tr>
                            <td>Title</td>
                            <td>Topic</td>
                            <td>Action</td>
                        </tr>
                        <tr *ngFor="let sub_topic of subChapter.data;let i = index;let last=last">
                            <td><input type="text" name="title{{i}}" #title [(ngModel)]="sub_topic.name" class="form-control" placeholder="Title" required></td>
                            <td><input type="text" name="topic{{i}}" #topic [(ngModel)]="sub_topic.topics" class="form-control" placeholder="Topic" required></td>
                            <td>
                                <a href="javascript:void(0)" class="text-success" *ngIf="last;else notLastEvent" (click)="addNewSubChapter()">&oplus;</a>
                                <ng-template #notLastEvent>
                                    <a href="javascript:void(0)" class="text-danger" (click)="removeSubChapter(sub_topic)">&otimes;</a>
                                </ng-template>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <p class="text-danger">{{errorMsg}}</p><p class="text-success">{{successMsg}}</p>
                    <button type="submit" class="btn btn-primary shadow-sm pl-4 pr-4 mt-4 mb-0">Update the Details</button>
                </div>
            </form>
        </div>
    </div>
</section>