<section class="pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="section_title text-center col-12 p-0 mb-4">
                <h3 class="main_title" data-aos="fade-down" data-aos-duration="1000">Course List</h3>
                <p class="col-md-8 m-auto pt-3" data-aos="fade-down" data-aos-duration="1500">What do you think is better to receive after each lesson: a lovely looking badge or important skills you can immediately put into practice.</p>
            </div>
            <div class="col-12 p-0 pt-2">
                <div class="row m-0 p-0">
                    <div class="col-12 mb-3">
                        <div class="col-md-2 p-0 ml-auto text-right">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option selected>All Couese</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1" data-aos="fade-down" data-aos-duration="1000">
                        <div class="card">
                            <img src="assets/img/co-3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a routerLink="/course-details">
                                    <h3 class="course-title">Test Couese</h3>
                                    <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                                <div class="foot_lecture">5 Teachers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1" data-aos="fade-up" data-aos-duration="1800">
                        <div class="card">
                            <img src="assets/img/co-5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a routerLink="/course-details">
                                    <h3 class="course-title">Test Couese</h3>
                                    <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                                <div class="foot_lecture">5 Teachers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1" data-aos="fade-down" data-aos-duration="2500">
                        <div class="card">
                            <img src="assets/img/co-7.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a routerLink="/course-details">
                                    <h3 class="course-title">Test Couese</h3>
                                    <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                                <div class="foot_lecture">5 Teachers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1" data-aos="fade-up" data-aos-duration="3000">
                        <div class="card">
                            <img src="assets/img/co-2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a routerLink="/course-details">
                                    <h3 class="course-title">Test Couese</h3>
                                    <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                                <div class="foot_lecture">5 Teachers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Courses-->
