<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>Change Your Password</h3>
            <div class="row m-0">
                <div class="signin-form col-md-8">
                    <form #changePassword="ngForm" (ngSubmit)="updateUserPassword(changePassword)">
                        <!-- {{changePassword.value | json}} -->
                        <div class="row">
                            <input #userId [ngModel]="userInfo.id" type="hidden" name="userId">
                            <div class="col-md-12 mb-4">
                                <input #password ngModel name="password" type="password" placeholder="New PASSWORD" class="form-control" required>
                            </div>
                            <div class="col-md-12 mb-4">
                                <input #confirmpassword ngModel name="confirmpassword" type="password" placeholder="CONFIRM PASSWORD" class="form-control" required>
                            </div>
                            <span class="text-success">{{successMsg}}</span>
                            <span class="text-danger">{{errorMsg}}</span>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary shadow-sm pl-4 pr-4 mt-4 mb-0">Save Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>