<section class="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 p-0 pr-md-1">
                <div class="banner-search-2 transparent">
                    <h1 class="big-header-capt cl_2 mb-2" data-aos="fade-right" data-aos-duration="3000">Achieve a 7 in IB Mathematics</h1>
                    <p data-aos="fade-up" data-aos-duration="3000">Voted #1 IB Mathematics Resource in 2019 & 2020 by IB Students & Teachers. IB Math Questionbanks, Practice Exams, Learning Videos & more…</p>
                </div>
            </div>
            <div class="col-md-5 p-0 pr-md-1 resp_img" data-aos="fade-left" data-aos-duration="3000">
                <img src="assets/img/edu_2.png">
            </div>
        </div>
    </div>
</section><!--End_banner-->
<section>
    <div class="container p-0 pl-md-2 pr-md-2">
        <div class="row align-items-center sub_subject">
            <div class="col-6 col-md-3 bg-white p-0">
                <a href="javascript:void(0)" >Math AI SL</a>
            </div>
            <div class="col-6 col-md-3 bg-white p-0">
                <a href="javascript:void(0)" >Math AA SL</a>
            </div>
            <div class="col-6 col-md-3 bg-white p-0">
                <a href="javascript:void(0)" >Math AI HL</a>
            </div>
            <div class="col-6 col-md-3 bg-white p-0">
                <a href="javascript:void(0)" class="border-none">Math AA HL</a>
            </div>
        </div>
    </div>
</section><!--subject-->
<section class="pt-6 pb-4 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="section_title" data-aos="fade-up" data-aos-duration="1000">
                    <h3 class="main_title">The #1 IB Math Resource</h3>
                    <p data-aos="fade-up" data-aos-duration="1500">Trusted by over 350,000 students in 150 countries worldwide</p>
                </div>
                <div class="part_subject col-12 p-0">
                    <div class="row pt-4">
                        <div class="col-12 col-md-10 pb-3" data-aos="fade-up" data-aos-duration="1000">
                            <a href="javascript:void(0);">
                                <h4>IB Math Practice Exams</h4>
                                <p>
                                    Test yourself with concept quizzes, topic exams and full-length Paper 1 & Paper 2 Mock IB Exams.
                                </p>
                            </a>
                        </div>
                        <div class="col-12 pb-3" data-aos="fade-up" data-aos-duration="2000">
                            <a href="javascript:void(0);">
                                <h4>Past IB Math Exams - Video Solutions</h4>
                                <p>
                                    Step-by-step video solutions to Past IB Math Exams. Short easy to understand videos taught by experienced IB Math teachers.
                                </p>
                            </a>
                        </div>
                        <div class="col-12 pb-3" data-aos="fade-up" data-aos-duration="3000">
                            <a href="javascript:void(0);">
                                <h4>	
                                    IB Math Practice Exams</h4>
                                <p> Test yourself with concept quizzes, topic exams and full-length Paper 1 & Paper 2 Mock IB Exams. </p>
                            </a>
                        </div>
                        <div class="col-12 pb-3" data-aos="fade-up" data-aos-duration="2500">
                            <a href="javascript:void(0);">
                                <h4>IB Math Key Concepts</h4>
                                <p> Short summary videos that teach every key concept tested in IB Math Exams. </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0 pr-md-1 mr-auto resp_img" data-aos="fade-left" data-aos-duration="3000">
                <img src="assets/img/edu_2.png">
            </div>
        </div>
    </div>
</section>
<section class="bg-light pt-5 pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="section_title text-center col-12 p-0 pb-5">
                <h3 class="main_title" data-aos="fade-down" data-aos-duration="1000">Featured Courses</h3>
                <p class="col-md-8 m-auto pt-3" data-aos="fade-down" data-aos-duration="1500">What do you think is better to receive after each lesson: a lovely looking badge or important skills you can immediately put into practice.</p>
            </div>
            <div class="col-12 p-2 p-md-0 pt-5">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-3 p-1" data-aos="fade-down" data-aos-duration="1000">
                        <div class="card">
                            <div class="card-body p-0 pb-3">
                                <img src="assets/img/co-3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a routerLink="/course-details">
                                        <h3 class="course-title">Test Couese</h3>
                                        <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </a>
                                    <div class="foot_lecture">5 Teachers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1" data-aos="fade-down" data-aos-duration="1800">
                        <div class="card">
                            <div class="card-body p-0 pb-3">
                                <img src="assets/img/co-2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a routerLink="/course-details">
                                        <h3 class="course-title">Test Couese</h3>
                                        <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </a>
                                    <div class="foot_lecture">5 Teachers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1" data-aos="fade-down" data-aos-duration="2500">
                        <div class="card">
                            <div class="card-body p-0 pb-3">
                                <img src="assets/img/co-5.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a routerLink="/course-details">
                                        <h3 class="course-title">Test Couese</h3>
                                        <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </a>
                                    <div class="foot_lecture">5 Teachers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1" data-aos="fade-down" data-aos-duration="3000">
                        <div class="card">
                            <div class="card-body p-0 pb-3">
                                <img src="assets/img/co-7.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a routerLink="/course-details">
                                        <h3 class="course-title">Test Couese</h3>
                                        <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </a>
                                    <div class="foot_lecture">5 Teachers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-12 mt-5" data-aos="fade-up" data-aos-duration="1500">
                <div class="text-center">
                    <a routerLink="/course-list" class="btn btn-theme btn-browse-btn">Browse More Courses</a>
                </div>
            </div>
        </div>
    </div>
</section><!--Courses-->
<section class="pb-5">
   <div class="container">
        <div class="section_title text-center pt-5 pb-5 mt-0 mt-md-5">
            <h3 class="main_title" data-aos="fade-down" data-aos-duration="1000">Top Teachers</h3>
            <p class="col-md-8 m-auto pt-3" data-aos="fade-down" data-aos-duration="1500">What do you think is better to receive after each lesson: a lovely looking badge or important skills you can immediately put into practice.</p>
        </div>
        <div class="row m-0">
            <div class="col-12 col-md-3 p-2 mb-2">
                <div class="card border-none pt-2 shadow-sm">
                    <div class="image m-auto">
                        <div class="image-teacher">
                            <img src="assets/img/im1.jpg">
                        </div>
                    </div>
                    <div class="card-body">
                        <a routerLink="/teacher">
                            <h3 class="course-title text-center"><b>Daniel Diwansker</b></h3>
                            <p class="course-subtitle text-center mt-1">Maths</p>
                        </a>
                        <ul class="instructor_caption">
                            <li><a href="#" class="cl-fb" tabindex="-1"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="cl-twitter" tabindex="-1"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="cl-linked" tabindex="-1"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 p-2 mb-2">
                <div class="card border-none pt-2 shadow-sm">
                    <div class="image m-auto">
                        <div class="image-teacher">
                            <img src="assets/img/im1.jpg">
                        </div>
                    </div>
                    <div class="card-body">
                        <a routerLink="/teacher">
                            <h3 class="course-title text-center"><b>Daniel Diwansker</b></h3>
                            <p class="course-subtitle text-center mt-1">Maths</p>
                        </a>
                        <ul class="instructor_caption">
                            <li><a href="#" class="cl-fb" tabindex="-1"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="cl-twitter" tabindex="-1"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="cl-linked" tabindex="-1"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 p-2 mb-2">
                <div class="card border-none pt-2 shadow-sm">
                    <div class="image m-auto">
                        <div class="image-teacher">
                            <img src="assets/img/im1.jpg">
                        </div>
                    </div>
                    <div class="card-body">
                        <a routerLink="/teacher">
                            <h3 class="course-title text-center"><b>Daniel Diwansker</b></h3>
                            <p class="course-subtitle text-center mt-1">Maths</p>
                        </a>
                        <ul class="instructor_caption">
                            <li><a href="#" class="cl-fb" tabindex="-1"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="cl-twitter" tabindex="-1"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="cl-linked" tabindex="-1"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 p-2 mb-2">
                <div class="card border-none pt-2 shadow-sm">
                    <div class="image m-auto">
                        <div class="image-teacher">
                            <img src="assets/img/im1.jpg">
                        </div>
                    </div>
                    <div class="card-body">
                        <a routerLink="/teacher">
                            <h3 class="course-title text-center"><b>Daniel Diwansker</b></h3>
                            <p class="course-subtitle text-center mt-1">Maths</p>
                        </a>
                        <ul class="instructor_caption">
                            <li><a href="#" class="cl-fb" tabindex="-1"><i class="ti-facebook"></i></a></li>
                            <li><a href="#" class="cl-twitter" tabindex="-1"><i class="ti-twitter"></i></a></li>
                            <li><a href="#" class="cl-linked" tabindex="-1"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section><!--teachers-->