<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 p-0 pr-md-1">
                <div class="banner-search-2 transparent">
                    <h1 class="big-header-capt cl_2 mb-2">{{HomeHeader.heading}}</h1>
                    <p>{{HomeHeader.description}}</p>
                </div>
            </div>
            <div class="col-md-5 p-0 pr-md-1 resp_img">
                <img src="{{HomeHeader.image}}">
            </div>
        </div>
    </div>
</section><!--End_banner-->

<section>
    <div class="container p-0 pl-md-2 pr-md-2">
        <div class="row align-items-center sub_subject">
            <div class="col-6 col-md-3 bg-white p-0" *ngFor="let subjectCategory of subjectCategory;">
                <a routerLink="/category/question/{{EncodeDecodeBase64(subjectCategory.id,'encode')}}">{{subjectCategory.title}}</a>
            </div>
            <!-- <div class="col-6 col-md-3 bg-white p-0">
                <a href="javascript:void(0)">Math AA SL</a>
            </div>
            <div class="col-6 col-md-3 bg-white p-0">
                <a href="javascript:void(0)">Math AI HL</a>
            </div>
            <div class="col-6 col-md-3 bg-white p-0">
                <a href="javascript:void(0)" class="border-none">Math AA HL</a>
            </div> -->
        </div>
    </div>
</section><!--subject-->

<section class="pt-6 pb-4 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="section_title">
                    <h3 class="main_title">{{HomeBanner.heading}}</h3>
                    <p>{{HomeBanner.description}}</p>
                </div>
                <div class="part_subject col-12 p-0">
                    <div class="row pt-4">
                        <div class="col-12 col-md-10 pb-3" *ngFor="let bannercontent of HomeBannerContent">
                            <a href="javascript:void(0);">
                                <h4>{{bannercontent.heading}}</h4>
                                <p>{{bannercontent.description}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0 pr-md-1 mr-auto resp_img">
                <img src="{{HomeBanner.image}}">
            </div>
        </div>
    </div>
</section>

<section class="bg-light pt-5 pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="section_title text-center col-12 p-0 pb-5">
                <h3 class="main_title">{{HomeCourses.heading}}</h3>
                <p class="col-md-8 m-auto pt-3">{{HomeCourses.description}}</p>
            </div>
            <div class="col-12 p-2 p-md-0 pt-5">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-3 p-1" *ngFor="let course of courseList">
                        <div class="card">
                            <div class="card-body p-0 pb-3">
                                <img src="{{course.course_image}}" class="card-img-top">
                                <div class="card-body">
                                    <a routerLink="/course-details/{{EncodeDecodeBase64(course.id,'encode')}}">
                                        <h3 class="course-title">{{course.course_name}}</h3>
                                        <p class="course-subtitle">{{course.course_description}}</p>
                                    </a>
                                    <div class="foot_lecture">{{commaSeparateTeacher(course.teacher)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-12 mt-5">
                <div class="text-center">
                    <a routerLink="/course-list" class="btn btn-theme btn-browse-btn">Browse More Courses</a>
                </div>
            </div>
        </div>
    </div>
</section><!--Courses-->

<section class="pb-5">
   <div class="container">
        <div class="section_title text-center pt-5 pb-5 mt-0 mt-md-5">
            <h3 class="main_title">{{HomeTeacher.heading}}</h3>
            <p class="col-md-8 m-auto pt-3">{{HomeTeacher.description}}</p>
        </div>
        <div class="row m-0">
            <div class="col-12 col-md-3 p-2 mb-2" *ngFor="let teacher of teacherList">
                <div class="card border-none pt-2 shadow-sm">
                    <div class="image m-auto">
                        <div class="image-teacher">
                            <img src="{{teacher.image}}">
                        </div>
                    </div>
                    <div class="card-body">
                        <a routerLink="/teacher/{{EncodeDecodeBase64(teacher.id,'encode')}}">
                            <h3 class="course-title text-center"><b>{{teacher.name}}</b></h3>
                            <p class="course-subtitle text-center mt-1">{{teacher.subject}}</p>
                        </a>
                        <ul class="instructor_caption">
                            <li *ngIf="teacher.facebook != ''"><a href="{{teacher.facebook}}" class="cl-fb" tabindex="-1" target="_blank"><i class="ti-facebook"></i></a></li>
                            <li *ngIf="teacher.twitter != ''"><a href="{{teacher.twitter}}" class="cl-twitter" tabindex="-1"><i class="ti-twitter"></i></a></li>
                            <li *ngIf="teacher.linkedin != ''"><a href="{{teacher.linkedin}}" class="cl-linked" tabindex="-1"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--teachers-->