<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="member-sec section_title py-5 text-center">
    <div class="container">
        <h3>Voted #1 IB Math Resource</h3>
        <p>Thank you for supporting our mission to build amazing resources for 350,000+ IB students worldwide</p>
        <div class="row pt-5">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6" *ngFor="let member of memberShip">
                        <div class="member-inn border">
                            <h4 class="bg-blue">{{member.title}}</h4>
                            <span><sup>$</sup>{{member.price}}</span>
                            <ul>
                                <li *ngFor="let question of member.question">
                                    <i class="ti-check-box"></i>
                                    <p><strong>{{question.title}}</strong>
                                    {{question.description}}
                                </li>
                            </ul>
                            <div class="text-center my-5">
                                <a *ngIf="member.enrolledment;else NotEnrolledThisUser" href="javascript:void(0)" class="btn btn-theme btn-browse-btn" [disabled]="true">Enrolled</a>
                                <ng-template #NotEnrolledThisUser>
                                    <a href="javascript:void(0)" class="btn btn-theme btn-browse-btn" (click)="getMembership(member)">Get Started</a>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="member-inn brown-bg">
                            <h4>Revision Member Village</h4>
                            <span><sup>$</sup>199</span>
                            <ul>
                                <li><i class="ti-check-box"></i>
                                    <p><strong>IB Math Exam Question Bank</strong>
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                                </li>
                                <li><i class="ti-check-box"></i>
                                    <p><strong>IB Math Exam Question Bank</strong>
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                                </li>
                                <li><i class="ti-check-box"></i>
                                    <p><strong>IB Math Exam Question Bank</strong>
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                                </li>
                                <li><i class="ti-check-box"></i>
                                    <p><strong>IB Math Exam Question Bank</strong>
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                                </li>
                            </ul>
                            <div class="text-center my-5">
                                <a href="#" class="btn btn-theme btn-browse-btn">Gold Option</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_title py-5">
    <div class="container">
        <h5 class="question-title">Common Questions</h5>
        <ul class="faq-inn">
            <li *ngFor="let cq of commonQuestion;">
                <div class="common-ques-icon"><i class="{{cq.icon}}"></i></div>
                <div class="common-ques">
                    <h5>{{cq.title}}</h5>
                    <p>{{cq.description}}</p>
                </div>
            </li>
        </ul>
    </div>
</section>