.question-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 50px;
    display: block;
}
.common-ques h5{
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.common-ques-icon{
    width: 60px;
    height: 60px;
    text-align: center;
    background: #fcc741;
    border-radius: 50%;
    display: table;
    padding: 14px;
}