<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="member-sec section_title py-5 text-center">
    <div class="container">
        <h3>Voted #1 IB Math Resource</h3>
        <p>Thank you for supporting our mission to build amazing resources for 350,000+ IB students worldwide</p>
        <div class="row pt-5">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6" *ngFor="let member of memberShip">
                        <div class="member-inn border">
                            <h4 class="bg-blue">{{member.title}}</h4>
                            <span><sup>$</sup>{{member.price}}</span>
                            <ul>
                                <li *ngFor="let question of member.question">
                                    <i class="ti-check-box"></i>
                                    <p><strong>{{question.title}}</strong>
                                    {{question.description}}
                                </li>
                            </ul>
                            <div class="text-center my-5">
                                <a href="javascript:void(0)" class="btn btn-theme btn-browse-btn" (click)="getMembership(member)">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="member-inn brown-bg">
                            <h4>Revision Member Village</h4>
                            <span><sup>$</sup>199</span>
                            <ul>
                                <li><i class="ti-check-box"></i>
                                    <p><strong>IB Math Exam Question Bank</strong>
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                                </li>
                                <li><i class="ti-check-box"></i>
                                    <p><strong>IB Math Exam Question Bank</strong>
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                                </li>
                                <li><i class="ti-check-box"></i>
                                    <p><strong>IB Math Exam Question Bank</strong>
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                                </li>
                                <li><i class="ti-check-box"></i>
                                    <p><strong>IB Math Exam Question Bank</strong>
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                                </li>
                            </ul>
                            <div class="text-center my-5">
                                <a href="#" class="btn btn-theme btn-browse-btn">Gold Option</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_title py-5">
    <div class="container">
        <h5 class="question-title">Common Questions</h5>
        <ul class="faq-inn">
            <li *ngFor="let cq of commonQuestion;">
                <div class="common-ques-icon"><i class="{{cq.icon}}"></i></div>
                <div class="common-ques">
                    <h5>{{cq.title}}</h5>
                    <p>{{cq.description}}</p>
                </div>
            </li>
            <!-- <li>
                <i class="ti-check-box"></i>
                <div>
                    <h5>Does Revision Village have resources for all of the IB Mathematics courses?</h5>
                    <p>
                        Yes! Revision Village has resources for IB Mathematics Analysis & Approaches SL/HL, Applications & Interpretation SL/HL and the old IB Math courses (Studies/SL/HL). We love making IB Mathematics resources and IB Students love using Revision Village! Our mission is to create the highest quality IB Mathematics resources available online. We are proud to be voted the #1 IB Mathematics Resource in 2019 & 2020 by IB Students & Teachers worldwide.
                    </p>
                </div>
            </li>
            <li>
                <i class="ti-align-left"></i>
                <div>
                    <h5>What about the new IB Math courses (AA & AI) ? Does Revision Village have brand new resources for these courses?</h5>
                    <p>
                        Yes of course! Analysis and Approaches (SL/HL) & Applications and Interpretation (SL/HL) are the new IB Mathematics courses with first exams starting in May 2021. The Revision Village team started building resources for the new courses back in 2018. After thousands of hours of work, we are excited to finally publish these new resources click here… but the RV team never stops! More resources will be added for the AA & AI courses in the weeks, months and years to come. We aren’t going anywhere!

                        Resources for the 2014 – 2020 courses (IB Mathematics HL, SL, Studies) will continue to be available for students who want to access resources for the old courses.
                    </p>
                </div>
            </li>
            <li>
                <i class="ti-control-shuffle"></i>
                <div>
                    <h5>What resources are on Revision Village?</h5>
                    <p>
                        IB Math Exam Questionbank: The #1 IB Mathematics Exam Questionbank for IB Students. Thousands of exam style questions, easily sorted by topic, sub-topic & difficulty. Video solutions & mark schemes for all questions. This is the perfect place to practice & master IB Math Exam Questions.
                    </p>
                    <p>
                        IB Math Practice Exams: Test yourself with a wide range of IB Math Practice Exams. Paper 1 & Paper 2 Mock IB Math Exams, Concept Quizzes, Topic Exams, IB Summary Exams, Easy / Medium / Hard Exams and more.
                    </p>
                    <p>
                        Past IB Math Exams – Video Solutions: Step-by-step video solutions to Past IB Math Exams. Short and easy to understand videos taught by experienced IB Math Teachers.
                    </p>
                    <p>
                        IB Math Key Concepts: Short summary videos taught by experienced IB Math Teachers that teach every key concept tested in IB Math Exams.
                    </p>
                    <p>
                        RV Prediction Exams: Carefully created IB Prediction Exams to help IB Students prepare for their finals.
                    </p>
                </div>
            </li>
            <li>
                <i class="ti-layout-list-thumb"></i>
                <div>
                    <h5>Is RV Gold a subscription or a once-off cost?</h5>
                    <p>
                        No subscriptions. No on-going payments. All RV Gold options are a once-off cost with no further payments.
                    </p>
                </div>
            </li>
            <li>
                <i class="ti-layout-list-thumb"></i>
                <div>
                    <h5>Is RV Gold a subscription or a once-off cost?</h5>
                    <p>
                        No subscriptions. No on-going payments. All RV Gold options are a once-off cost with no further payments.
                    </p>
                </div>
            </li>
            <li>
                <i class="ti-headphone-alt"></i>
                <div>
                    <h5>Can I be logged in on multiple devices?</h5>
                    <p>
                        YFor security purposes, only 1 device can be logged in at any given time. If you have been logged out of your account, please check that you are not logged in on any other device. 
                    </p>
                </div>
            </li>
            <li>
                <i class="ti-info-alt"></i>
                <div>
                    <h5>Which devices can I use Revision Village on?</h5>
                    <p>
                        Revision Village is optimized on all devices. Desktop, Tablet, Mobile.
                    </p>
                </div>
            </li>
            <li>
                <i class="ti-help"></i>
                <div>
                    <h5>Is RV Gold a subscription or a once-off cost?</h5>
                    <p>
                        No subscriptions. No on-going payments. All RV Gold options are a once-off cost with no further payments.
                    </p>
                </div>
            </li>
            <li>
                <i class="ti-new-window"></i>
                <div>
                    <h5>Who are the RV Teachers?</h5>
                    <p>
                        The Revision Village team includes experienced IB Teachers, Examiners and some of the world’s best educators. The team is dedicated to helping each and every student achieve their best possible IB Mathematics grade.
                    </p>
                </div>
            </li> -->
        </ul>
    </div>
</section>