    <ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
    <!--Header-->
    <header class="shadow-none">
        <div class="container">
            <a class="navbar-brand mb-0 pt-4" routerLink="/"><img src="assets/img/footer_logo.png" alt=""></a>
        </div>
    </header>
    <!--End-Header-->

    <section class="pt-4 pb-4 mt-5 bg-blue">
        <div class="container">
            <div class="col-12 col-md-8 m-auto loginbody p-0">
                <div class="signin-content col-12 row m-0 pl-0 pr-0">
                    <div class="signin-image col-6 d-none d-md-block bg-light mt-0">
                        <figure><img src="assets/img/signin-image.png" alt="sing up image"></figure>
                        <p class="text-center pb-3">
                            Can't log in? 
                            <a routerLink="/signup" class="signup-image-link text-bold">Sign up for an account</a>
                        </p>
                    </div>
                    <div class="signin-form col-12 col-md-6 p-2 p-md-5">
                        <h2 class="form-title">
                            LOGIN
                            <span>Welcome back, please login to your account.</span>
                        </h2>
                        <form class="register-form" id="login-form" #userLoginForm="ngForm" (ngSubmit)="userLoginSubmit(userLoginForm)">
                            <!-- {{userLoginForm.value | json}} -->
                            <div class="form-group m-0">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input #name ngModel type="text" name="email" id="your_name" placeholder="Your Email" required class="is-invalid">
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input #password ngModel type="password" name="password" id="your_pass" placeholder="Password" required [ngClass]="{'is-invalid':password.invalid && password.touched,'is-valid':password?.valid && password?.touched}">
                                <span class="jsError">{{errorMessage}}</span>
                            </div>
                            <div class="form-group m-0 text-right">
                                <a href="javascript:void(0);" class="font-small-3 text-body">Forgot Password?</a>
                            </div>
                            <div class="form-group form-button text-right">
                                <button type="submit" class="btn btn-primary shadow-sm pl-4 pr-4 mt-4 mb-0">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Courses-->