<!--Header-->
<header>
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg_blue">
        <div class="container">
            <a class="navbar-brand" routerLink="/"> <img src="assets/img/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            AA & AI (New)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Math AI SL</a>
                            <a class="dropdown-item" href="#">Math AI HL</a>
                            <a class="dropdown-item" href="#">Math AA SL</a>
                            <a class="dropdown-item" href="#">Math AA HL</a>
                            <a class="dropdown-item" href="#">Key Information</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Old Courses</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Math Studies</a>
                            <a class="dropdown-item" href="#">Math SL</a>
                            <a class="dropdown-item" href="#">Math HL</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Membership</a></li>
                    <li class="nav-item" *ngIf="!userAuthentication, else falseAuthCheck"><a class="nav-link" routerLink="/login">Login</a></li>
                    <ng-template #falseAuthCheck>
                        <!-- <li class="nav-item"><a class="nav-link" (click)="userLogout()">Logout</a></li> -->
                        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
                    </ng-template>
                </ul>
            </div> <!-- navbar-collapse.// -->
        </div> <!-- container.// -->
    </nav>
</header>
<!--End-Header-->
