<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>Chapter : {{chapter.name}}</h3>
            <h3>All Question List - ({{subChapter.name}})
                <span>
                    <a class="float-right" routerLink="/teacher/{{courseId}}/{{chapterId}}/{{subChapterId}}/question/create">Add New Question</a>
                </span>
            </h3>
            <table class="table table-sm" *ngIf="questionList.length > 0;else subChapterNotFound">
                <tr>
                    <th>Category</th>
                    <th>Question</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Mark Scheme</th>
                    <th>Answer 1</th>
                    <th>Answer 2</th>
                    <th>Answer 3</th>
                    <th>Answer 4</th>
                    <th style="width: 80px;">Action</th>
                </tr>
                <tr *ngFor="let question of questionList">
                    <td>{{question.category.name}}</td>
                    <td><img src="{{question.question}}" height="200px" width="350px"></td>
                    <td><span innerHTML="{{question.description}}"></span></td>
                    <td>
                        <span *ngIf="question.difficulty == 1">Easy</span>
                        <span *ngIf="question.difficulty == 2">Medium</span>
                        <span *ngIf="question.difficulty == 3">Hard</span>
                    </td>
                    <td>{{question.mark_scheme}}</td>
                    <td>{{question.answer1}}</td>
                    <td>{{question.answer2}}</td>
                    <td>{{question.answer3}}</td>
                    <td>{{question.answer4}}</td>
                    <td>
                        <a class="text-primary" routerLink="/teacher/question/edit/{{question.id}}"><i class="ti-pencil-alt mr-1"></i></a>
                        <a class="text-danger" (click)="deleteQuestionList(question)"><i class="ti-trash ml-1"></i></a>
                    </td>
                </tr>
            </table>
            <ng-template #subChapterNotFound>Oops! no Question available</ng-template>
        </div>
    </div>
</section>