<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="pt-3 pb-3 bg_lightblue">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2 text-center">
                <div class="image m-md-auto">
                    <div class="image-teacher">
                        <img src="assets/img/im1.jpg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <div class="caption">
                    <!-- <div class="viewer_package_status">6 Year Expe.</div> -->
                    <div class="viewer_header">
                        <h4>
                            Adam Willsoriam
                            <span class="viewer_location">Math Teacher</span>
                        </h4>
                        <p>
                            What do you think is better to receive after each lesson: a lovely looking badge or important skills you can immediately put into practice.What do you think is better to receive after each lesson: a lovely looking badge or important skills you can immediately put into practice.
                        </p>
                        <button type="button" class="btn btn-warning badge-pill btn-sm mt-2 mb-1 shadow-lg">Book Session</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Courses-->

<section class="mt-4">
    <div class="container">
        <div class="row p-3 p-md-0">
            <div class="col-12 p-0 pt-2">
                <div class="row m-0 p-0">
                    <div class="col-12 row m-0 mb-3 p-0">
                        <div class="col-6 p-0">
                            <h4 class="text-bold font-small-3 pt-3 pb-3 pb-md-0">Classes</h4>
                        </div>
                        <div class="col-md-2 p-0 ml-auto text-right">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option selected>All Courses</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1">
                        <div class="card">
                            <img src="assets/img/co-3.jpg" class="card-img-top">
                            <div class="card-body">
                                <a routerLink="/course-details">
                                    <h3 class="course-title">Test Couese</h3>
                                    <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1">
                        <div class="card">
                            <img src="assets/img/co-5.jpg" class="card-img-top">
                            <div class="card-body">
                                <a routerLink="/course-details">
                                    <h3 class="course-title">Test Couese</h3>
                                    <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1">
                        <div class="card">
                            <img src="assets/img/co-7.jpg" class="card-img-top">
                            <div class="card-body">
                                <a routerLink="/course-details">
                                    <h3 class="course-title">Test Couese</h3>
                                    <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-1">
                        <div class="card">
                            <img src="assets/img/co-2.jpg" class="card-img-top">
                            <div class="card-body">
                                <a routerLink="/course-details">
                                    <h3 class="course-title">Test Couese</h3>
                                    <p class="course-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section><!--class-list-->