<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="member-sec section_title py-5 text-center">
    <div class="container">
        <div class="row m-0">
            <div class="section_title text-center col-12 p-0 mb-5">
                <h3 class="main_title aos-init aos-animate" data-aos="fade-down" data-aos-duration="1000">{{categoryFullName}}</h3>
                <p class="col-md-8 m-auto pt-3 aos-init aos-animate" data-aos="fade-down" data-aos-duration="1500">
                    How would you like to study today…
                </p>
            </div>
            <div class="col-md-12 row m-0" *ngIf="category.length > 0,else noDataFound">
                <div class="col-md-3" *ngFor="let cat of category;index as i">
                    <div class="card shadow-sm">
                        <div class="card-body">
                             <!-- <a class="member-inn blue-bg" routerLink="/category/chapter/question/{{EncodeDecodeBase64(chapter.subjectCategoryId,'encode')}}/{{EncodeDecodeBase64(chapter.id,'encode')}}"> -->
                            <a class="member-inn blue-bg" routerLink="/chapter/{{chapterId}}/sub-chapter"><img src="{{cat.image}}"></a>
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noDataFound>
                <div>
                    <h4>No Data Found</h4>
                </div>
            </ng-template>
        </div>
    </div>
</section>
