<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="member-sec section_title py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="section_title text-center col-12 p-0 mb-5">
                <h3 class="main_title aos-init aos-animate" data-aos="fade-down" data-aos-duration="1000">{{categoryName}} {{subjectCategoryName}}</h3>
                <p class="col-md-8 m-auto pt-3 aos-init aos-animate" data-aos="fade-down" data-aos-duration="1500">
                    How would you like to study today…
                </p>
            </div>
            <div class="col-md-12" *ngIf="chapterList.length > 0,else noDataFound">
                <div class="card mb-2" *ngFor="let chapter of chapterList;index as i">
                    <div class="card-header">
                        Chapter {{i+1}} - <span >{{chapter.chapter}}</span><a href="javascript:void(0)" (click)="buyNowChapter(chapter)" class="float-right">Buy Now ($ {{chapter.price}})</a>
                    </div>
                    <div class="card-body" routerLink="/category/subject-category/chapter/question/{{EncodeDecodeBase64(chapter.subjectCategoryId,'encode')}}/{{EncodeDecodeBase64(chapter.id,'encode')}}">
                        <ul class="subchapter">
                            <li *ngFor="let subchapter of chapter.sub_chapter">
                                <span>{{subchapter.name}} </span>
                                <i class="ti-arrow-right mr-1"></i> {{subchapter.topics}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ng-template #noDataFound>
                <div>
                    <h4>No Data Found</h4>
                </div>
            </ng-template>
        </div>
    </div>
</section>
