<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="member-sec section_title py-5">
    <div class="container">
        <h3 class="text-center">{{getValueUsingKey('terms_meta_title')}}</h3>
        <div class="row pt-5 justify-content-center">
            <div class="col-md-8 text-left tc_text">
                <h6 class="mt-3">{{getValueUsingKey('terms_meta_keywords')}}</h6>
                <p class="mb-3" innerHtml="{{getValueUsingKey('terms_meta_description')}}"></p>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section_title py-5">
    <div class="container">
        <h5 class="question-title">{{getValueUsingKey('terms_meta_title')}}</h5>
        <ul class="faq-inn">
            <li>
                <div class="common-ques-icon"><i class="ti-layout-list-thumb"></i></div>
                <div class="common-ques">
                    <h5>{{getValueUsingKey('terms_meta_keywords')}}</h5>
                    <p innerHtml="{{getValueUsingKey('terms_meta_description')}}"></p>
                </div>
            </li>
        </ul>
    </div>
</section> -->