<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>
</section>

<!-- Events Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dateWiseEventModal" id="launchModal" hidden>Launch demo modal</button>
<div class="modal fade" id="dateWiseEventModal" tabindex="-1" role="dialog" aria-labelledby="dateWiseEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dateWiseEventModalLabel">Availability on ({{date}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="dateWiseEvents.length > 0;else dataNotFound">
                    <table class="table table-striped" style="width: 100%;">
                        <tr>
                            <td>Time</td>
                            <td>Availability</td>
                        </tr>
                        <tr *ngFor="let dateWiseEvent of dateWiseEvents">
                            <td>{{dateWiseEvent.time}}</td>
                            <td>
                                <span *ngIf="dateWiseEvent.available == 1; else NotAvailable">Yes</span>
                                <ng-template #NotAvailable>No</ng-template>
                            </td>
                        </tr>
                    </table>
                </div>
                <ng-template #dataNotFound>Data not Found</ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>