<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>All Chapters <a class="float-right" routerLink="/">Add New Chapter</a></h3>

            <table class="table table-striped table-bordered" style="width: 100%;" >
                <tr>
                    <td>Image</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Amount</td>
                    <td>Booking Date and Time</td>
                    <td>Slot Date and Time</td>
                </tr>
            </table>
            <!-- <ng-template #dataNotFound>Oops! no data available</ng-template> -->
        </div>
    </div>
</section>