<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>Subscribed Chapters </h3>
            <div class="table-responsive" *ngIf="chapter.data.length>0; else dataNotFound">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Chapter Id</th>
                            <th>Chapter Name</th>
                            <th>Price</th>
                            <th>transactionId</th>
                            <th>Teacher</th>
                            <th>Chapter Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chapter of chapter.data">
                            <td>{{chapter.courseName}}</td>
                            <td>{{chapter.chapterId}}</td>
                            <td>{{chapter.chapterName}}</td>
                            <td>$ {{chapter.price}}</td>
                            <td>{{chapter.transaction}}</td>
                            <td><ul>
                                <li>Name : {{chapter.teacherName}}</li>
                                <li>Email : {{chapter.teacherEmail}}</li>
                            </ul></td>
                            <td><a routerLink="/chapter/{{chapter.chapterId}}/category" class="orderbtn">Click Here</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ng-template #dataNotFound>
                <span>OOps! Data not Found </span>
            </ng-template>
        </div>
    </div>
</section>
