<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<section class="account-detail">
    <div class="d-flex">
        <ul class="aside">
            <app-sidebar></app-sidebar>
        </ul>
        <div class="account-sec mb-5">
            <h3>Your Courses <span style="float: right;"><a routerLink="/teacher/course/list/create">Add New Courses</a></span></h3>
            <div *ngIf="TeacherCourse.data.length>0; else dataNotFound">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Chapter</th>
                                <th>Feature</th>
                                <th>Price ($)</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let course of TeacherCourse.data">
                                <td><img src="{{course.course_image}}" alt="{{course.course_image}}"></td>
                                <td>{{course.course_name}}</td>
                                <td><a routerLink="/teacher/course/{{course.id}}/chapter/list">{{course.countChapter}}</a></td>
                                <td>{{course.countFeature}}</td>
                                <td>{{course.price}}</td>
                                <td><span innerHTML="{{course.course_description | slice:0:95}}{{ course.course_description.length > 95 ? ' ...' : ''}}"></span></td>
                                <td>
                                    <a href="javascript:void(0)" class="text-primary p-1" routerLink="/teacher/course/list/{{course.id}}/edit"><i class="ti-pencil-alt"></i></a>
                                    <a href="javascript:void(0)" class="text-danger p-1" (click)="deleteTeacherCourse(course)"><i class="ti-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <ng-template #dataNotFound>
                <span>OOps! Data not Found </span>
            </ng-template>
        </div>
    </div>
</section>
