/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
/* Event Calender CSS importing */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* Event Calender CSS importing END*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
.jsError{
    font-size: 10px;
    color: red;
}

*  {  padding: 0 ;  margin: 0 ; }
body{
    background:#fff;
    width:100%;
	height:100%;
	font-size: 1.4rem;
    margin:0 auto;
	font-family: 'Poppins', sans-serif !important;
} 
hr {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 50px;
}
hr.light {
    border-color: white;
}
a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    list-style:none;
    font-size:14px;
    outline:none !important;
    font-family: 'PT Sans', sans-serif;
    text-decoration:none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0;
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Poppins', sans-serif !important;
} 
p {
    font-size: 16px;
    line-height:24px;
    margin-bottom:8px;
    color: #4f5458;
    font-family: 'PT Sans', sans-serif;
}
p span{
	font-weight:600;
	color: #4f5458;
}
label{
	font-size: 16px;
    font-weight: 600;
    margin: 0 0 12px 0;
    position: relative;
    letter-spacing: 0.8px;
	color: #7b7f89;
	font-family: 'Poppins', sans-serif; 
}
label a {
    color: #fff !important;
    background: #ff2c14;
    padding: 1.5px 3px;
    border-radius: 100%;
	font-weight:600;
    width: 13px;
    height: 13px;
    text-align: center;
    font-size: 9px;
    margin: 0 0 0 5px;
    text-decoration: none !important;
    display: inherit;
    font-family: 'Poppins', sans-serif !important;
} 
.border-none{
    border: none !important;
}
.dropdown-toggle::after {
    margin-left: .355em;
    margin-top: .155em;
    vertical-align: middle;
}
.pt-9{
	padding-top: 8.5rem!important;
}
.pt-6{
	padding-top: 6.5rem!important;
}
.gray {
    background-color: #f0f0f0;
}
.bg_blue{
    background-color: #003783;
}
button:focus {
    outline: none;
    outline: none;
}
.plr-5{
	padding:0 5px;
}
.productBT {
    border: none;
    padding: 12px 30px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
    transition: 0.5s;
    background: #064e94;
    width: 215px;
    outline: none;
    text-decoration: none !important;
    display: inline-block;
}
.productBT:hover {
    letter-spacing: 0.8px;
    color: #ffffff;
    background: #1a73bf;
	-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    -ms-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    -o-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

/*-------------placeholder_color------------------*/

::-webkit-input-placeholder { /* Chrome */
    color: #bdbdbd;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bdbdbd;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bdbdbd;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #bdbdbd;
    opacity: 1;
}
.bg-lightblue{
	background: rgba(255, 255, 255, 0.60);
    border: 3px solid #2fb2b9;
}
.getbutton{
	border: none;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
	width:202px;
    display: block;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background: #ff620c;
	font-family: 'Baloo Thambi 2', cursive !important;
	cursor:pointer;
}
.h-55{
	height:55px !important;
}
.shadow-slid{
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
	
}
.shadow-slid label{
	color:#495566 !important;
	font-size:18px;
	font-family: 'Poppins', sans-serif !important;;
}
.link--arrowed .arrow-icon {
    position: relative;
    top: -1px;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
}
.link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.link--arrowed:hover .arrow-icon {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
}
.link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}
/*-------Nav_bar---------*/

header{
    transition: all .5s;
    box-shadow: 0px 2px 5px -3px #333333;
    top:0;
}
.navbar-light .navbar-nav .nav-link{
    color: #34454e;
}
.nav-item a{
    font-size:0.85rem;
    color: #34454e;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
}
.nav-link:hover, .nav-link.active, .nav-link:focus{
    color:#fcc741 !important;
}
.navbar-nav .nav-link {
    padding-right: .7rem !important;
    padding-left: .7rem !important;
}
/* .navbar-brand img {
    width: 200px;
} */
.dropdown-item{
    font-weight: 400 !important;
    padding: 10px 20px 14px 15px;
    border-bottom: 1px solid #e8e8e8;
    /* color: #ffffff !important; */
}
.dropdown-item:focus, .dropdown-item:hover {
    color:#fcc741 !important;
    padding: 10px 20px 14px 20px;
}
.dropdown-menu{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
    width: 100%;
    /* padding: 14px 20px 14px 10px; */
    border-bottom: 1px solid #e4e8ec;
    color: #70798b;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#navbar_top{
    padding: 25px 0;
}
.fixed-top{
    padding: 12px 0 !important;
    box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
}
/*-----------------Banner--------------------*/

.banner{
    background: #003783;
    padding:50px 0  90px 0;
}
.banner-search-2.transparent {
    margin: 1.5rem 0;
    padding: 0 0 0 0rem;
    background: transparent;
    border-radius: 0.2rem;
    max-width: 500px;
}
.big-header-capt{
    color: #fff;
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
}
.banner-search-2 p{
    color: #fff;
    font-weight: 300;
    font-size: 17px;
}
.resp_img img{
    width: 100%;
}

/*-------------Sub_subject-----------------*/
.sub_subject{
    box-shadow: 0px 0px 20px rgba(0,0,0,.075);
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.075);
    margin-top: -40px;
}

.sub_subject a{
    text-align: center;
    display: block;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    padding: 30px;
    border-right: 1px solid #e8e8e8;
    color: #2D3954;
    transition: all ease 0.6s;
}
.sub_subject a:hover{
    background-color: #fcc741;
    color:#ffffff;
    font-size: 22px;
    letter-spacing: 0.5;
}
.section_title h3{
    font-weight: 600;
    font-size: 34px;
    color: #2D3954 !important;
    line-height: 1.2em;
}
.section_title p{
    color: #2D3954;
    font-weight: 400;
    font-size: 14px;
    margin-top: 8px;
}

/*----------------Part-Subject-----------------*/

.part_subject h4{
    font-weight: 500;
    font-size: 16px;
    color: #234149!important;
    line-height: 1.2em;
}
.part_subject p{
    font-weight: 300;
    margin-top: 10px;
    color: #647b9c;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}
.imageBg{
    background: url(assets/img/edu_2.png) no-repeat;
    background-size: contain;
    background-position: center right;
}
/*------------teacher----------------*/
.single_team:nth-child(4n+1){
    background-color: #48cfaf;
    position: relative;
}
.single_team:nth-child(4n+2) {
    background-color: #fcc741;
    position: relative;
}
.single_team:nth-child(4n+1) {
    background-color: #3d84c8;
    position: relative;
}
.team_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
}
.team_image {
    width: 50%;
    overflow: hidden;
}
.team_content {
    display: table;
    width: 50%;
    text-align: center;
    height: 100%;
}
.team_content .team_content_wrapper {
    display: table-cell;
    vertical-align: middle;
}
.team_content .title a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.team_content span {
    font-size: 14px;
    color: #fff;
}
.single_team .team_content .social {
    margin-top: 10px;
}
.team_content .social li {
    display: inline-block;
    margin: 0 5px;
}
.team_content .social li a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.instructor_caption{
    margin:0 0 10px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instructor_caption li {
    padding: 0 8px;
}

/*-----------------------*/

.owl-next{
	display:none !important;
}
.owl-prev{
	display:none !important;
}
.btn-browse-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0 40px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    color: #252628;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: #fcc741;
}

/*--------------Thank you----------------*/
.thank_bg{
    background: url(assets/img/bg_shape.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 50px 0;
}
.thank_bg .section_title h3{
    color:#ffffff !important;
}
.thank_bg .section_title p{
    color:#ffffff;
}

/*----------------footer--------------*/
.footer-add p{
    color: #858b9f;
    font-size: 13px;
}
.widget-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 17px;
}
.footer-widget ul {
    padding: 0;
    margin: 0;
}
.footer-widget ul li {
    list-style: none;
    margin-top: 0px;
    display: block;
}
.footer-widget ul li a {
    color: #858b9f;
}
.footer-widget ul li a:hover, .footer-widget ul li a:focus{
    color: #fcc741;
}
.ft_bottom_text p{
    color: #858b9f;
    font-size: 13px;
}
.img-footer {
    max-width: 150px;
    margin-bottom: 2rem;
}

/*------------course-List-----------------*/

.course-title{
    color: #2D3954 !important;
    font-size: 17px !important;
    line-height: 1.2;
    margin: 0;
}
.course-subtitle{
    line-height: 1.65 !important;
    color: #647b9c !important;
    font-size: 15px !important;
    font-weight: 400;
    margin-top: 13px ;
}
.foot_lecture {
    background: rgba(30, 173, 107,0.13);
    color: #1ead6b;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 50px;
    /* width: 100px; */
    text-align: center;
    float: right;
    margin-top: 15px;
}

/*------------------Modal-------------------*/
	
.modal-body {
    padding: 1rem 2rem;
}
.modal-header-title {
    margin: 1rem auto;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.close{
    position: absolute;
    right: 15px;
    top: 15px;
    background: #f4f5f7;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #2d3954 !important;
    cursor: pointer;
    z-index: 1;
}
label{
    color: #647b9c;
    font-size: 15px;
    margin: 0;
    overflow-x: hidden !important;
    font-weight: 400;
}
.form-control {
    height: 54px;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: none;
    padding: .5rem .75rem;
    border: 1px solid #e6eaf3;
    background-clip: initial;
}
.btn.pop-login {
    height: 56px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: #fcc741;
    background: #fcc741;
}
ul{
    list-style:none;
}
.social-login ul li{
    float: right;
    clear: both;
    padding: 10px 0;
}
.checkbox-custom-label, .radio-custom-label {
    position: relative;
}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointerer;
}

.social-login ul li:first-child {
    flex: 1;
}
.modal a{
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    margin: 0;
    overflow-x: hidden !important;
    font-weight: 400;
}
	
/*----------------course-detail-----------------*/
.course-detail-card{
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0.25rem;
    border:none;
    padding:15px;
}
.child-card{
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0.25rem;
    overflow: hidden;
}
.course-title-card{
    color: #2D3954;
    font-weight: 600;
    text-transform: capitalize;
    font-size:30px;
}
.card-header{
    background-color:transparent
}
.edu_title {
    margin-bottom: 1rem;
    font-size: 18px;
}
.accordion_title{
    margin: 0;
    font-size: 14px;
    font-weight:600;
}
.accordion_title a{
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
ul.lectures_lists li {
    padding: 17px 15px;
    background: #ffffff;
    color: #24394e;
    border-bottom: 1px solid #e5e8ef;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
}
.lectures_lists_title {
    margin-right: 2rem;
    font-weight: 400;
    font-size: 14px;
    color: #647b9c;
}
ul.lectures_lists li:before {
    content: "\e63d";
    width: 30px;
    height: 30px;
    font-family: "themify";
    background: rgba(76, 175, 80,0.12);
    right: 15px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4caf50;
}
.image-teacher{
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.image-teacher img{
    width: 110px;
    height: 110px;
}
.author-name a {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif !important;
}
.author-designation {
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 5px;
}
.ed_view_price span {
    font-size: 13px;
}
.theme-cl{
    line-height: 36px;
    font-size: 30px;
    margin-bottom: .5rem;
    color: #da0b4e;
    font-weight: 600;
}
.ed_view_features span {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    color: #485067;
}
.ed_view_features ul {
    margin: 15px 0 0 0;
    padding: 0;
}
.ed_view_features ul li {
    margin-bottom: 12px;
    font-size: 14px;
    position: relative;
    padding-left: 22px;
}
.ed_view_features ul li i {
    width: 15px;
    height: 15px;
    background: rgba(0, 150, 136,0.1);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 1px;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #009688;
}
.ed_view_link {
    display: block;
    margin-bottom: 1rem;
    padding-left: 10px;
}
.ed_view_link .enroll-btn {
    width: 80%;
    margin: 1.5rem auto 0;
    display: flex;
    height: 54px;
    font-weight: 600;
    border-radius: 50px;
    color: #2a2a2a !important;
    align-items: center;
    justify-content: center;
    background: #fcc741;
}
ul.badge_info {
    margin-top: 25px;
}
ul.badge_info li {
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    margin-right: 12px;
    box-shadow: 0px 0px 0px 3px rgb(241, 243, 247) !important;
    -webkit-box-shadow: 0px 0px 0px 3px rgb(241, 243, 247) !important;
    border: 2px solid #ffffff;
    list-style: none;
    display: inline-block;
}
ul.badge_info li a {
    color: #485067 !important;
}
ul.badge_info li a:hover {
    color: #2196F3 !important;
}
.badge_info li:hover{
    box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.05);
    -moz-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.05);
    -o-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
    -ms-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
}
/*--------teacher-profile------------*/

.bg_lightblue {
    background: #f1f8ff;
}
.viewer_package_status {
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 12px;
    background: rgb(255 194 11 / 45%);
    color: #333333;

    border-radius: 2px;
    font-size: 12px;
}
.viewer_header h4{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    margin-top: 5px;
}
.viewer_header h4 span{
    color: #969696;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    display: block;
}
.viewer_header p {
    font-weight: 300;
    margin-top: 10px;
    color: #647b9c;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

/*--------loginbody-----------*/

.loginbody{
    background: #fff;
    box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.05);
    -moz-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.05);
    -o-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
    -ms-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
    border-top:3px solid #017bfb;
}
/* .signin-content {
    padding-top: 40px;
    padding-bottom: 40px;
} */
.signin-image {
    /* margin-left: 110px;
    margin-right: 20px; */
    margin-top: 10px;
}
figure {
    margin-bottom: 30px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.signup-image-link {
    font-size: 14px;
    color: #222;
    text-align: center;
    font-weight: 600;
}
.form-title{
    line-height: 1.66;
    margin-bottom: 0;
    padding: 0;
    font-weight: 600;
    color: #222;
    font-size: 26px;
}
.form-title span{
    display: block;
    color: #2D3954;
    font-weight: 300;
    font-size: 14px;
    margin-top: 0px;
}
.signin-form input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 10px;
    font-family: Poppins;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 0;
    
}
.signin-form input:focus {
    outline: none;
}
input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    /* display: none; */
}
input[type=checkbox]:not(old)+label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}
.label-agree-term {
    position: relative;
    top: 0%;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}
input[type=checkbox]:not(old)+label>span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #999;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: #fff;
    background-image: -moz-linear-gradient(white,white);
    background-image: -ms-linear-gradient(white,white);
    background-image: -o-linear-gradient(white,white);
    background-image: -webkit-linear-gradient(white,white);
    background-image: linear-gradient(white,white);
    vertical-align: bottom;
    background-image: linear-gradient(white,white);
}
.social-login {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    margin-top: 80px;
    display: flex;
    display: -webkit-flex;
}
.account-detail{
    margin:0 0 40px;
    border-bottom:1px solid grey;
}
.aside {
    background:#003783;
    padding:60px 0;
    margin: 0;
    width:20%;
}
.aside li:first-child a{
    border-top:1px solid #0453c2;
}
.aside li a {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding:10px 15px;
    display: block;
    border-bottom:1px solid #0453c2;
}
.aside li a i{
    margin-right:10px;
    font-size: 16px;
}
.aside li.active a,
.aside li a:hover, .aside li a:focus {
    color:#000000;
    background: #d39e00;
}

.account-sec{
    padding:60px 60px 0 60px;
    width:80%;
}
.account-detail .account-sec h3 {
margin-bottom: 30px;
padding-bottom: 30px;
border-bottom: 1px solid #cccccc;
}

.account-detail .account-sec small {
font-size: 13px;
margin-bottom: 20px;
display: block;
}

.account-detail .account-sec form {
margin-bottom: 50px;
padding-bottom: 50px;
border-bottom: 1px solid #cccccc;
}

.account-detail .account-sec form:last-child {
margin: 0;
padding: 0;
border-bottom: none;
}

.account-detail .account-sec form .form-control::-webkit-input-placeholder, .account-detail .account-sec form .form-control option {
color: #7a7a7a;
}

.account-detail .account-sec form .form-control:-ms-input-placeholder, .account-detail .account-sec form .form-control option {
color: #7a7a7a;
}

.account-detail .account-sec form .form-control::-ms-input-placeholder, .account-detail .account-sec form .form-control option {
color: #7a7a7a;
}

.account-detail .account-sec form .form-control::placeholder, .account-detail .account-sec form .form-control option {
color: #7a7a7a;
}

.account-detail .account-sec form input[type="submit"] {
text-transform: uppercase;
}

.account-detail .account-sec form select {
padding: 0 15px;
}

.account-detail .account-sec form textarea {
height: 127px;
}

.drag-outr {
color: #7a7a7a;
}

.drag-outr .dragfiles {
display: block;
margin-bottom: 20px;
}

.drag-outr .dragfiles span {
color: #000000;
font-size: 14px;
margin: 0 0 10px;
display: block;
}

.drag-outr .selectbtn {
position: relative;
}

.drag-outr .selectbtn .btn {
margin: 20px 0 0;
border: 1px solid #000000;
height: 41px;
min-width: 146px;
}

.drag-outr .selectbtn input[type=file] {
position: absolute;
left: 0;
top: 0;
opacity: 0;
}


.member-inn{
    border-radius:10px;
    overflow: hidden;
    /* box-shadow: 0 0 25px rgba(0,0,0,0.45); */
}
.member-inn h4{
    display: block;
    padding:20px 5px;
    color:#fff;
    background:#003783;
}
.blue-bg{
    background:#e6f0fd;
}
.member-inn span{
    margin:15px 0;
    display: block;
    font-size: 46px;
    font-weight:bold;
}
.member-inn.blue-bg span{
    color:#003783;
}
.member-inn span sup{
    font-size: 28px;
    font-weight:300;
    margin-right:10px;
}
.member-inn ul{
    text-align: left;
    padding:0 20px;
    font-family: Poppins,sans-serif !important;
}
.member-inn ul li{
    margin:0 0 12px;
    display:flex;
}
.member-inn ul li p{
    font-size:0.8rem;
    font-weight: 400;
    margin-top:3px;
    line-height: 18px;
    color: #647b9c;
    font-family: Poppins,sans-serif !important;
}
.member-inn ul li p strong{
    font-weight: 600;
    font-size: 0.8rem;
    color: #234149!important;
    line-height: 1.2em;
    display: block;
    margin-bottom: 8px;
    font-family: Poppins,sans-serif !important;
}
.member-inn ul li i{
    margin: 5px 10px 0 0;
    font-size: 16px;
}
.member-inn.blue-bg ul li i{
    color:#003783;
}
.member-inn.blue-bg .btn-browse-btn{
    background:#003783;
    color:#fff;
}
.member-inn.blue-bg .btn-browse-btn:hover{
    background:#001f49;
}

.brown-bg{
    background:#f8efce;
}
.brown-bg h4{
    background:#dabe62;
}
.member-inn.brown-bg span{
    color:#dabe62;
}
.member-inn.brown-bg ul li i{
    color:#dabe62;
}
.member-inn.brown-bg .btn-browse-btn{
    background:#dabe62;
    color:#fff;
}
.member-inn.brown-bg .btn-browse-btn:hover{
    background:#dabe62;
}
.faq-sec{
    background:#f6f6f6;
}
.faq-sec h3{
    margin:0 0 60px;
    text-align: center;
    font-weight: bold;
}
.faq-inn{
    margin:0;
}
.faq-inn li{
    display: inline-flex;
    margin:0 0 50px;
}
.faq-inn li i{
    margin: 0;
    color: #2D3954;
}
.faq-inn li > div{
    padding:0 20px;
}
.faq-inn li p{
    font-size: 15px;
    color: #647b9c !important;
}

/***************** Sweet Alert Design **********************/
.swal-button {
    padding: 5px 14px;
    font-family: averta;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
.swal-button:hover{background: transparent;}
.swal-button--cancel:not([disabled]):hover {
    background-color: transparent !important;
}
.swal-modal {
    width: 335px;
    border-radius: 0px;
}
.swal-button--cancel:focus {
    box-shadow: inherit;
}
.swal-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 12px 16px;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
    background: #f5f5f5;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.swal-title:first-child {
  margin-top: 0px;
}
.swal-footer {
    text-align: right;
    padding-top: 0px;
    margin-top: 20px;
    padding: 9px 16px;
    border-top: 1px solid #ccc;
}

.swal-text {
    font-size: 16px;
    padding: 0px 10px;
    font-family: averta;
    color: #000;
}
.swal-title{
    margin-top: 0px;
    font-family: averta;
    color: #000;
    font-size: 16px;
}
.swal-button--cancel {
    background-color: transparent;
    color: #c5c5c5;
    padding: 5px 14px;
}
.swal-button-container{margin:0px;}
.swal-button--cancel:hover{ background-color: transparent;}
.swal-button--danger {
    background: #528be9 !important;
    border: 1px solid #2e75b6 !important;
    padding: 0px 16px;
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    line-height: 14px;
}
.swal-button--confirm{background: #528be9 !important;
    border: 1px solid #2e75b6 !important;
    padding: 0px 16px;
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    line-height: 14px;}
.swal-button--danger:hover{background: #2e75b6 !important;
    border: 1px solid #2e75b6 !important;}
.sweet-alert {margin-left: -240px; border:1px solid #ccc; border-radius: 0px;}
.sweet-alert h2{font-size: 18px;
    padding-top: 20px;}
.sweet-alert .sa-button-container .cancel {background: transparent;
    color: #8c8c8c;
    border: 0;
    font-size:14px;
    padding: 6px 15px;
  text-transform: uppercase;}
.sweet-alert .sa-confirm-button-container .confirm{background: #528be9;
    color: #fff;
    border: 1px solid #528be9;
    padding: 6px 15px;
    font-size: 14px;}
.sweet-alert .sa-button-container{text-align: right;
    border-top: 1px solid #ccc;
    padding: 12px 12px 0px 12px;
}
/***************** Sweet Alert Design END **********************/

.mentor-det-details {
    background: #ffffff;
    border: 1px solid #d6d3d3;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 31px;
}

.medium-heading {
    font-family: GT Walsheim Pro;
    font-weight:400;
    font-size: 26px;
    line-height: 1.2;
    color:#000;
}
.calender-holder {
    margin-top: 26px;
}

.calender-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-scroll a {
    background: #1cb3d3;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 10px;
}
.date-scroll .date {
    font-family: GT Walsheim Pro;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    line-height: 1;
    display: block;
    margin-top: 13px;
}

.calender-body {
    margin-top: 22px;
}
.calender-body .dayname {
    flex:1 0 0;
    text-align: center;
    font-family: GT Walsheim Pro;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    border-top: 3px solid #1cb3d3;
    padding: 9px 0;
    border-right:1px solid #1cb3d3;
}
.calender-body .dayname:last-child{
    border-right:none;
}

.calender-head {
    display: flex;
}

.calender-time {
    display: flex;
}

.time-avali {
    flex: 1 0 0;
    text-align: center;
    border-right:1px solid #1cb3d3;
}
.time-avali:last-child {
    border-right:none;
}

.time-slot {
    padding: 4px 0;
}
.time-slot a {
    font-family: GT Walsheim Pro;
    font-weight: 400;
    font-size: 16px;
    color:#000;
}

/***************** Loader Design **************************/
.loading-data {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.loading-data:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.62);
}
.loading-data:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.loading-data:not(:required):after {
    content: "";
    display: block;
    font-size: 12px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 1) 1.5em 0 0 0,
    rgba(255, 255, 255, 1) 1.1em 1.1em 0 0, rgba(255, 255, 255, 1) 0 1.5em 0 0,
    rgba(255, 255, 255, 1) -1.1em 1.1em 0 0, rgba(255, 255, 255, 1) -1.5em 0 0 0,
    rgba(255, 255, 255, 1) -1.1em -1.1em 0 0, rgba(255, 255, 255, 1) 0 -1.5em 0 0,
    rgba(255, 255, 255, 1) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 1) 1.5em 0 0 0,
    rgba(255, 255, 255, 1) 1.1em 1.1em 0 0, rgba(255, 255, 255, 1) 0 1.5em 0 0,
    rgba(255, 255, 255, 1) -1.1em 1.1em 0 0, rgba(255, 255, 255, 1) -1.5em 0 0 0,
    rgba(255, 255, 255, 1) -1.1em -1.1em 0 0, rgba(255, 255, 255, 1) 0 -1.5em 0 0,
    rgba(255, 255, 255, 1) 1.1em -1.1em 0 0;
}
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/***************** Loader Design END **************************/
.value-rendered{
    font-size: 24px;
}
.required{
    color: #ff0000;
}