<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<!--Header-->
<header class="shadow-none">
    <div class="container">
        <a class="navbar-brand mb-0 pt-4" routerLink=""><img src="assets/img/footer_logo.png" alt=""></a>
    </div>
</header>
<!--End-Header-->

<section class="pt-4 pb-4 mt-5 bg-blue">
    <div class="container">
        <div class="col-12 col-md-8 m-auto loginbody p-0">
            <div class="signin-content col-12 row m-0 pl-0 pr-0">
                <div class="signin-image col-6 d-none d-md-block bg-light mt-0">
                    <figure><img src="assets/img/signin-image.png" alt="sing up image"></figure>
                    <p class="text-center pb-3">
                        Already Have An Account? 
                        <a routerLink="/login" class="signup-image-link text-bold">Go For LogIn</a>
                    </p>
                </div>
                <div class="signin-form col-12 col-md-6 p-2 p-md-3">
                    <h2 class="form-title">
                        Sign Up
                        <span>Fill the below form to create a new account.</span>
                    </h2>
                    <form class="register-form" id="login-form" #signUpForm="ngForm" (ngSubmit)="userSignUpForm(signUpForm)">
                        {{signUpForm.value | json}}
                        <div class="form-group m-0">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input #name="ngModel" ngModel type="text" name="name" id="your_name" placeholder="Full Name" required [ngClass]="{'is-invalid':name?.invalid && name?.touched}">
                        </div>
                        <div class="form-group m-0">
                            <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input #email="ngModel" ngModel type="text" name="email" id="your_email" placeholder="Email" required [ngClass]="{'is-invalid':email?.invalid && email?.touched}">
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input #password="ngModel" ngModel type="password" name="password" id="your_pass" placeholder="Password" required [ngClass]="{'is-invalid':password?.invalid && password?.touched}">
                        </div>
                        <div class="form-group">
                            <label for="your_confirmpass"><i class="zmdi zmdi-lock"></i></label>
                            <input #confirm="ngModel" ngModel type="password" name="password_confirmation" id="your_confirmpass" placeholder="Confirm Password" required [ngClass]="{'is-invalid':confirm?.invalid && confirm?.touched}">
                        </div>
                        <div class="form-group">
                            <label for="user_role">Role</label>
                            <select #user_role [ngModel]="'user'" name="user_role" id="user_role" class="form-control" required>
                                <option value="user">User</option>
                                <option value="teacher">Teacher</option>
                            </select>
                        </div>

                        <div class="form-group" *ngIf="user_role.value=='teacher'">
                            <label for="user_price">Price Per hour</label>
                            <input type="text" #price ngModel name="price" class="form-control" id="user_price" placeholder="price per hour in Doller ($)">
                        </div>

                        <span class="jsError">{{errorMessage}}</span>
                        <div class="form-group form-button text-right">
                            <button type="submit" class="btn btn-primary shadow-sm pl-4 pr-4 mt-4 mb-0">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--Courses-->